__pycache__/
*.pyc
.ipynb_checkpoints/

logs/
outputs/
runs/
results/
checkpoints/
wandb/
tensorboard/

data/
datasets/

*.npy
*.npz
*.pkl
*.pt
*.pth
*.ckpt
*.h5
*.hdf5
*.mp4
*.zip
*.tar
*.tar.gz

*.out
*.err
*.log
slurm-*.out
