/wandb
.ipynb_checkpoints/
contrastive/.ipynb_checkpoints/
__pycache__/
contrastive/__pycache__/
*.pyc
*.out
tensorboard/
joblog/
archived/
eval_plots/
experiments
logs
runs_density/
runs_final/
.DS_Store
